# Node dependencies
server/node_modules/
client/node_modules/

# Environment files
server/.env
client/.env

# Logs
*.log

# Build output
server/dist/
client/dist/
server/build/
client/build/


server/prisma/dev.db
server/prisma/dev.db-journal
.DS_Store
Thumbs.db
